<div class="footer_btn">
    <div class="nav_foot">
       <div class="nav_foot_left">
       </div>
       <div class="nav_foot_right">
          <%= link_to "とうろく画面へもどる", new_customize_path, class: :foot_btn %>
          <%= link_to "トップへもどる", root_path, class: :foot_btn %> 
        </div>
    </div>
</div>