<main class="main">
  <%= @customize.theme %>できました！
      <div class = "select_customizes">
      <%= link_to "えらぶ", customize_path(@customize.id), class: :select_customizes_btn %>
      </div>
<%= render partial: "footer" %>
</main>