/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}


/* ヘッダー */
.header{
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 24px 0;
}

.inner{
  width: 1360px;
  margin: 0 auto;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav_right{
}

.head_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.body{
  background-color: #AFEEEE;
}

/* フッター */
.footer {
  background-color: gray;
  padding: 8px 0;
  bottom: 0; /*下に固定*/
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* トップページ */
.head_inner{
  width: 1360px;
  margin: 0 auto;
  height: 248px;
}

.select_btn{
  height: 320px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.yes_no_btn{
  width: 20%;
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  padding: 96px 0;
}

.jyanken_btn{
  width: 20%;
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  padding: 96px 0;
}

.suuji_btn{
  width: 20%;
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  padding: 96px 0;
}

.hiragana_btn{
  width: 20%;
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  padding: 96px 0;
}

.customize{

}
.customaize_inner{
  display: flex;
  height: 324px;
  justify-content: center;
}

.customize_btn{
  width: 40%;
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  padding: 48px 0;
  margin: 48px 0 ;
}

/* カスタマイズ登録ページ */
.customize_input{
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.customize_title_label{
  font-size: 48px;
}

.customize_title{
  width: 48vh;
  margin-left: 24px;
  font-size: 48px;

}

.customize_detail{
  display: flex;
  flex-direction: column;
}

.customize_detail_in{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.customize_detail_label{
  
}

.customize_detail_text{
  width: 40vw;
  height: 48px;
  margin-left: 24px;
}

.customize_submit{
  display: flex;
  justify-content: center;
}

.customize_submit_btn{
  width: 128px;
  border: 1px solid black;
  font-size: 32px;
  text-align: center;
  padding: 16px ;
  margin: 32px 0 ;
  
}

/*カスタマイズ登録完了画面*/
.select_customizes{
  display: flex;
  justify-content: center;
}

.select_customizes_btn{
  width: 144px;
  border: 1px solid black;
  font-size: 32px;
  text-align: center;
  padding: 16px ;
  margin: 32px 0 ;
}